@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.ttf") format("ttf"), url("../fonts/icons.ttf#icons") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class^=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-icon_avatar:before {
	content: "\e900";
	color: #555;
}
.icon-icon_bell:before {
	content: "\e901";
}
.icon-icon_clip:before {
	content: "\e902";
	color: #7ac751;
}
.icon-icon_facebook:before {
	content: "\e903";
	color: #555;
}
.icon-icon_green_star:before {
	content: "\e904";
	color: #fff;
}
.icon-icon_grey_arrow:before {
	content: "\e905";
	color: #757575;
}
.icon-icon_grey_star:before {
	content: "\e906";
	color: #fff;
}
.icon-icon_instagram:before {
	content: "\e907";
	color: #555;
}
.icon-icon_pinterset:before {
	content: "\e908";
	color: #555;
}
.icon-icon_shop:before {
	content: "\e909";
	color: #555;
}
.icon-icon_slider_left_arrow:before {
	content: "\e90a";
	color: #ccc;
}
.icon-icon_slider_right_arrow:before {
	content: "\e90b";
	color: #ccc;
}
.icon-icon_twitter:before {
	content: "\e90c";
	color: #555;
}
.icon-icon_white_arrow:before {
	content: "\e90d";
	color: #fff;
}
