@charset "UTF-8";
/*Обнулення*/
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  max-width: 1440px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #7AC751;
  margin-bottom: 21px;
}
.header__content {
  font-family: "Rubik";
  font-weight: 400;
  padding: 16px 0;
  color: #ffffff;
  font-size: 16px;
}
.header .container .header__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .flex_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .spoiler {
  position: relative;
  margin-right: 60px;
}
.header .container .spoiler img {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: -20px;
}
.header .container .login_sign {
  position: relative;
}
.header .container .login_sign::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -20px;
  width: 2.2px;
  height: 19px;
  background: #ffffff;
}

.search {
  margin-bottom: 25px;
}
.search .container .search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search .container .search__content .logo {
  width: 147px;
  margin-right: 67px;
}
.search .container .search__content .logo .logo_img {
  display: block;
  max-width: 100%;
  height: auto;
}
.search .container .search__content .search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 577px;
  height: 45px;
  margin-right: 255px;
}
.search .container .search__content .search_form .form_input {
  display: inline-block;
  font-family: "Rubik";
  font-size: 14px;
  width: 403px;
  padding: 16px;
  border: 2px solid #7AC751;
  border-radius: 7px 0 0 7px;
  border-right: 2px solid #E3E3E3;
}
.search .container .search__content .search_form input::-webkit-input-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input::-moz-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input:-ms-input-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input::-ms-input-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input::placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form .form_categories {
  position: relative;
  width: 122px;
  padding-left: 11px;
  padding-top: 14px;
  font-family: "Rubik";
  font-size: 14px;
  color: #555555;
  border: 2px solid #7AC751;
  border-left: none;
}
.search .container .search__content .search_form .form_categories img {
  position: absolute;
  top: 19px;
  right: 8px;
}
.search .container .search__content .search_form .btn_submit {
  width: 53px;
  height: inherit;
  background: #7AC751;
  border-radius: 0 7px 7px 0;
  border: none;
  outline: none;
}
.search .container .search__content .tray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 121px;
}
.search .container .search__content .tray .tray__item a._icon-shop {
  position: relative;
}
.search .container .search__content .tray .tray__item a._icon-shop::after {
  content: "4";
  position: absolute;
  top: -11px;
  right: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 13px;
  height: 13px;
  font-weight: 400;
  font-size: 9px;
  background: #7AC751;
  border-radius: 100%;
}

.mass .container .mass__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.mass .container .mass__content .mass_coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
}
.mass .container .mass__content .mass_coll .coll_title_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 67px;
  background: #7AC751;
}
.mass .container .mass__content .mass_coll .coll_title_wrapp .coll_title {
  margin-right: -35px;
  font-family: "Rubik";
  text-transform: uppercase;
  color: #ffffff;
}
.mass .container .mass__content .mass_coll .coll_title_wrapp .coll_title_lines {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 26px;
  left: 30px;
}
.mass .container .mass__content .mass_coll .coll_title_wrapp .coll_title_lines .line1 {
  display: inline-block;
  margin-bottom: 4px;
  width: 18px;
  height: 2px;
  background: #ffffff;
  border-radius: 10px;
}
.mass .container .mass__content .mass_coll .coll_title_wrapp .coll_title_lines .line2 {
  display: inline-block;
  margin-bottom: 4px;
  width: 12px;
  height: 2px;
  background: #ffffff;
  border-radius: 10px;
}
.mass .container .mass__content .mass_coll .coll_title_wrapp .coll_title_lines .line3 {
  display: inline-block;
  width: 6px;
  height: 2px;
  background: #ffffff;
  border-radius: 10px;
}
.mass .container .mass__content .mass_coll nav.coll_menu {
  background: #F7F8FA;
}
.mass .container .mass__content .mass_coll nav.coll_menu ul.coll_list li.coll_item {
  padding: 10px 0 10px 29px;
  border-bottom: 1px solid #E3E3E3;
}
.mass .container .mass__content .mass_coll nav.coll_menu ul.coll_list li.coll_item:last-child {
  border-bottom: none;
}
.mass .container .mass__content .mass_coll nav.coll_menu ul.coll_list li.coll_item a.coll_link {
  text-decoration: none;
  font-family: "Rubik";
  font-size: 14px;
  color: #555555;
  text-transform: capitalize;
}
.mass .container .mass__content .mass_coll nav.coll_menu ul.coll_list li.coll_item a.coll_link:hover {
  color: #7AC751;
}
.mass .container .mass__content .big {
  width: 100%;
}
.mass .container .mass__content .big nav.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 82px;
  background: #F7F8FA;
  height: 67px;
}
.mass .container .mass__content .big nav.menu ul.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  list-style-type: none;
}
.mass .container .mass__content .big nav.menu ul.menu_list li.menu_item {
  margin-right: 65px;
}
.mass .container .mass__content .big nav.menu ul.menu_list li.menu_item a.menu_link {
  text-transform: uppercase;
  font-family: "Rubik";
  text-decoration: none;
  color: #555555;
}
.mass .container .mass__content .big nav.menu ul.menu_list li.menu_item a.menu_link:hover {
  color: #7AC751;
}
.mass .container .mass__content .big .big__area {
  position: relative;
  height: 384px;
  padding-left: 47px;
  background-color: #F2FBFF;
  z-index: 100;
  border-left: 12px solid #fff;
  border-top: 12px solid #fff;
}
.mass .container .mass__content .big .big__area .area_text {
  position: absolute;
  font-family: "Rubik";
  top: 73px;
  left: 47px;
}
.mass .container .mass__content .big .big__area .area_text .area_top {
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  color: #7AC751;
  font-weight: bold;
  -webkit-text-stroke: 1px #000;
}
.mass .container .mass__content .big .big__area .area_text h1.title {
  position: relative;
  margin-bottom: 38px;
  font-family: inherit;
  font-size: 40px;
  color: #2F2F2F;
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: #B9B9B9 0px 3px 2px;
  line-height: 43px;
}
.mass .container .mass__content .big .big__area .area_text h1.title img.area_line_img {
  position: absolute;
  top: 77px;
  left: 137px;
  width: 177px;
  height: 29px;
}
.mass .container .mass__content .big .big__area .area_text .area_get {
  margin-bottom: 30px;
  font-family: "Mulish";
  font-size: 27px;
  font-weight: 600;
  color: #808283;
}
.mass .container .mass__content .big .big__area .area_text .btn_shop {
  width: 129px;
  height: 40px;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: bold;
  background-color: #7AC751;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
}
.mass .container .mass__content .big .big__area .slider {
  position: absolute;
  top: 0;
  left: 0;
}