@charset "UTF-8";
/*Обнулення*/
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Mulish:regular,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  max-width: 1440px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #7AC751;
  margin-bottom: 21px;
}
.header__content {
  font-family: "Rubik";
  font-weight: 400;
  padding: 16px 0;
  color: #ffffff;
  font-size: 16px;
}
.header .container .header__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .flex_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .spoiler {
  position: relative;
  margin-right: 50px;
}
.header .container .spoiler:before {
  counter: "";
  position: absolute;
  z-index: -1;
  top: 20px;
  right: 20px;
  width: 12px;
  height: 7.41px;
  background-image: url("../../icons/icon_spoiler_arrow.svg") center center no-reapet;
}
.search .container .search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search .container .search__content .logo {
  width: 147px;
  margin-right: 120px;
}
.search .container .search__content .logo .logo_img {
  display: block;
  max-width: 100%;
  height: auto;
}
.search .container .search__content .search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 500px;
  height: 45px;
  margin-right: 280px;
}
.search .container .search__content .search_form .form_input {
  display: inline-block;
  font-family: "Rubik";
  font-size: 14px;
  width: 403px;
  padding: 16px;
  border: 2px solid #7AC751;
  border-radius: 7px 0 0 7px;
  border-right: 2px solid #E3E3E3;
}
.search .container .search__content .search_form input::-webkit-input-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input::-moz-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input:-ms-input-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input::-ms-input-placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form input::placeholder {
  font-family: "Rubik";
  color: #5F5F5F;
}
.search .container .search__content .search_form .form_categories {
  position: relative;
  width: 122px;
  padding-left: 11px;
  padding-top: 14px;
  font-family: "Rubik";
  font-size: 14px;
  color: #555555;
  border: 2px solid #7AC751;
  border-left: none;
}
.search .container .search__content .search_form .form_categories img {
  position: absolute;
  top: 19px;
  right: 8px;
}
.search .container .search__content .search_form .btn_submit {
  width: 53px;
  height: inherit;
  background: #7AC751;
  border-radius: 0 7px 7px 0;
  border: none;
  outline: none;
}
.search .container .search__content .tray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 121px;
}
.search .container .search__content .tray .tray__item._icon-shop {
  position: relative;
}
.search .container .search__content .tray .tray__item span {
  position: absolute;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  top: 0px;
  left: 19px;
  width: 13px;
  height: 13px;
  background: #7AC751;
  color: #ffffff;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 8px;
  border-radius: 100%;
}