.header {
	width: 100%;
	background-color: $main_color;
	&__content {
		font-family: $main_font;
		font-weight: 400;
		padding: 16px 0;
		color: $white_color;
		font-size: 16px;
	}
	.container {
		.header__flex {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.welcome {}
		.flex_wrapp {
			display: flex;
			justify-content: space-between
		}
		.spoiler {
			position: relative;
			margin-right: 50px;
			&:before {
				counter: "";
				position: absolute;
				z-index: -1;
				top: 20px;
				right: 20px;
				width: 12px;
				height: 7.41px;
				background-image: url("../../icons/icon_spoiler_arrow.svg") center center no-reapet;
		}
		.login_sign {}
		}
	}
}