.search {
	margin-bottom: 25px;
	.container {
		.search__content {
			display: flex;
			justify-content: start;
			align-items: center;
			.logo {
				width: 147px;
				margin-right: 120px;
				.logo_img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
			.search_form {
				display: flex;
				justify-content: start;
				width: 500px;
				height: 45px;
				margin-right: 280px;
				.form_input {
					display: inline-block;
					font-family: $main_font;
					font-size: 14px;
					width: 403px;
					padding: 16px;
					border: 2px solid $main_color;
					border-radius: 7px 0 0 7px;
					border-right: 2px solid #E3E3E3
				}
				input::placeholder {
					font-family: $main_font;
					color: #5F5F5F;
				}
				.form_categories {
					position: relative;
					width: 122px;
					padding-left: 11px;
					padding-top: 14px;
					font-family: $main_font;
					font-size: 14px;
					color: #555555;
					border: 2px solid $main_color;
					border-left: none;
					img {
						position: absolute;
						top: 19px;
						right: 8px;
					}
				}
				.btn_submit {
					width: 53px;
					height: inherit;
					background: $main_color;
					border-radius: 0 7px 7px 0;
					border: none;
					outline: none;
				}
			}
			.tray {
				display: flex;
				justify-content: space-between;
				width: 121px;
				.tray__item a._icon-shop {
					position: relative;
					&::after {
						content: '4';
						position: absolute;
						top: -11px;
						right: -8px;
						display: flex;
						align-items: center;
						justify-content: center;
						color: $white_color;
						width: 13px;
						height: 13px;
						font-weight: 400;
						font-size: 9px;
						background: $main_color;
						border-radius: 100%;
					}
				}
			}
		}
	}
}